<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        :lang(fa){
            text-align: right;
            direction: rtl;
        }

    </style>
</head>
<body>
    <form action="test.php" method="get">
        <div>
            <input type="text" name="name" id="">
        </div>
        <div>
            جنسیت: <br>
            <input type="radio" name="gender" id="male" value="male" checked>
            <label for="male">مرد</label>
            <br>
            <input type="radio" name="gender" id="female" value = "female">
            <label for="female">زن</label>
        </div>
        <div>
            <input type="checkbox" name="spice[]" id="pepper" value = "pepper" checked>
            <label for="pepper">فلفل</label>
            <input type="checkbox" name="spice[]" id="salt" value = "salt">
            <label for="salt">نمک</label>
            <input type="checkbox" name="spice[]" id="thymes" value = "thymes">
            <label for="thymes">آویشن</label>
        </div>
        <div>
            <label for="drink">نوشیدنی</label>
            <select name="drink" id="drink">
                <option value="coke">کوکاکولا</option>
                <option value="canada" selected>کانادادرای</option>
                <option value="sprite">اسپرایت</option>
            </select>
        </div>
        <div>
            <input type="text" list="city">
            <datalist id="city">
                <option value="esfahan">اصفهان</option>
                <option value="shiraz">شیراز</option>
                <option value="abadan">آبادان</option>
            </datalist>

        </div>

        <button type="submit">ارسال</button>
    </form>
</body>
</html>